body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 80px auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.login-image {
  width: 100px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: start;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Blue Sign Up Button */
.signup-button {
  background-color: #007bff;
}

.signup-button:hover {
  background-color: #006ae6;
}

.signup-text {
  margin-top: 20px;
}

.signup-text a {
  color: #007BFF;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
